<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="xyz.kotlout.kotlout">

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".controller.ApplicationContextProvider"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Kotlout">
    <activity
      android:label="@string/app_name"
      android:name=".view.MainActivity">
      <meta-data
        android:name="android.app.default_searchable"
        android:value=".view.SearchActivity" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_new"
      android:name=".view.ExperimentNewActivity" />
    <activity
      android:label="@string/title_activity_profile"
      android:name=".view.ProfileActivity" />
    <activity
      android:label="@string/discussion_title"
      android:name=".view.DiscussionPostsActivity" />
    <activity
      android:label="@string/title_activity_experiment_view"
      android:name=".view.ExperimentViewActivity" />
    <activity
      android:label="@string/title_activity_trial_new"
      android:name=".view.TrialNewActivity" />
    <activity
      android:label="@string/title_activity_search"
      android:name=".view.SearchActivity"
      android:parentActivityName=".view.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".view.MainActivity" />

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>
  </application>
  <!--  Permissions since the maps need a lot -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>
