<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="xyz.kotlout.kotlout">

  <uses-permission android:name="android.permission.CAMERA" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".controller.ApplicationContextProvider"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Kotlout">
    <activity
      android:label="@string/app_name"
      android:name=".view.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_new"
      android:name=".view.ExperimentNewActivity" />
    <activity
      android:label="@string/title_activity_profile"
      android:name=".view.ProfileActivity" />
    <activity
      android:exported="true"
      android:label="Discussion"
      android:name=".view.DiscussionPostsActivity" />
    <activity
      android:label="@string/title_activity_experiment_view"
      android:name=".view.ExperimentViewActivity">
      <intent-filter android:label="@string/scannable_intent_label">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="kotlout" />
      </intent-filter>
      <intent-filter android:label="@string/scannable_intent_label_remote">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="www.kotlout.xyz"
          android:pathPrefix="/"
          android:scheme="http" />
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_trial_new"
      android:name=".view.TrialNewActivity" />
    <activity
      android:label="@string/title_activity_codescanner"
      android:name=".view.CodeScannerActivity" />
  </application>

</manifest>